<!doctype html>
<html lang="sv">
  <head>
    <title>Parkour: History for {{.User.Firstname}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/static/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="/static/jqplot.pieRenderer.min.js"></script>
    <link rel="stylesheet" href="/static/jquery.jqplot.min.css" />
  </head>
  <body>
    <p>Logged in as {{.User.Name}}. <a href="/logout">Logout</a>.
      <a href="/bout">Current lab session</a>.
      <a href="/" id="changebout">Change course / lab</a>.</p>
    <h1>History for {{.User.Firstname}}</h1>

    <form action="/history" class="row" method="get">
      <label for="course">Course:</label>
      {{$list := .courses}}
      {{$selected := .course}}
      <select name="course" id="course">
        <option/>
        {{range $key, $name := $list}}
        <option value="{{$key}}"{{if $key | eq $selected}} selected{{end}}>{{$name}}</option>
        {{end}}
      </select>

      <label for="lab">Lab:</label>
      {{$list := .labs}}
      {{$selected := .lab}}
      <select name="lab" id="lab">
        <option/>
        {{range $key, $name := $list}}
        <option value="{{$key}}"{{if $key | eq $selected}} selected{{end}}>{{$name}}</option>
        {{end}}
      </select>

      <!--
      <label for="with">Collaborant:</label>
      <input name="with" id="with"/>
      -->

      <input type="submit" value="Show"/>
    </form>

    {{if .bouts}}
    {{with .balance}}
    <span id="balanceplot" style="float: right; max-width: 50%; width: 30em"></span>
    <p>Total tidsfördelning:
      <span>{{.MyPct}}%</span>
      <span>{{.OthersPct}}%</span>
    </p>
    <script type="text/javascript">
      $(document).ready(function(){
      var data = [ [{{.MyDescr}}, {{.MyPct}}],[{{.OthersDescr}}, {{.OthersPct}}] ];
      var plot1 = jQuery.jqplot ('balanceplot', [data], {
      seriesDefaults: {
        // Make this a pie chart.
        renderer: jQuery.jqplot.PieRenderer,
        rendererOptions: {
          // Put data labels on the pie slices.
          // By default, labels show the percentage of the slice.
          showDataLabels: true
        }
      },
      legend: { show:true, location: 'e' }
      });
      });
    </script>
    {{end}}
    {{else}}
    <p>Select a course and press Show to see history.</p>
    {{end}}

    {{range $bout := .bouts}}
    <h3>{{$bout.LabName}} With {{$bout.With.Name}} at {{$bout.Starttime}} for {{$bout.Duration}}</h3>
    {{with $bout.DriverDurations}}
    <p>Tidsfördelning: {{.MyDescr}} ({{.MyPct}}%) {{.OthersDescr}} ({{.OthersPct}}%)</p>
    {{end}}
    </script>
    {{range $l := $bout.GetLogs}}
    <p>{{$l.What $.User}} for {{$l.FormatDuration}}.
    {{end}}
    {{end}}
  </body>
</html>
