<!doctype html>
<html lang="sv">
  <head>
    <title>Parkour: {{.me}} &amp; {{.other}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <h1>Course: {{.kurs}}</h1>
    <h2>Current lab: {{.lab}}</h2>
    <form id="currentbout">
      <button name="driver" value="{{.me}}">{{.me}} is driver</button>
      <span></span>
      <button name="paus">Paus</button>
      <span></span>
      <button name="driver" value="{{.other}}">{{.other}} is driver</button>
    </form>
  </body>
  <script src="/static/parkour.js"></script>
</html>
