<!doctype html>
<html lang="sv">
  <head>
    <title>Parkour: {{.me}} &amp; {{.other}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <p>Logged in as {{.User.Name}}. <a href="/logout">Logout</a>.
      <a href="/" id="changebout">Change course / lab</a>.
      <a href="/history">History</a>.</p>
    <h1>Course: {{.kurs}}</h1>
    <h2>Current lab: {{.lab}}</h2>
    <form id="currentbout" class="row">
      <button name="driver" value="{{.me.Kthid}}">Set {{.me.Firstname}} as driver</button>
      <span></span>
      <button name="pause">Pause</button>
      <span></span>
      <button name="driver" value="{{.other.Kthid}}">Set {{.other.Firstname}} as driver</button>
    </form>

    <div class="help">
      <h3>How to stop pair programming</h3>
      <p>Remember to click pause at the end of a pair programming
      session, otherwise the system will keep logging over lunch, over
      night or even over the weekend!</p>
    </div>
  </body>
  <script src="/static/parkour.js"></script>
</html>
