<!doctype html>
<html lang="sv">
  <head>
    <title>Parkour: new bout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  </head>
  <body>
    <form>
      <select name="course">
	<option/>
	{{range $key, $name := .courses}}
	<option value="{{$key}}">{{$name}}</option>
	{{end}}
      </select>

      <select name="lab">
	<option/>
	{{range $key, $name := .labs}}
	<option value="{{$key}}">{{$name}}</option>
	{{end}}
      </select>

      <input class="username" name="with"/>

      <input type="submit" value="Start"/>
      <script>
	$('input.username').autocomplete({source: "/suggestuser"});
      </script>
    </form>
  </body>
</html>
