<!doctype html>
<html lang="sv">
  <head>
    <title>Parkour: new bout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  </head>
  <body>
    <p>Inloggad som {{.User.Name}}. <a href="/logout">Logga ut</a>.</p>
    <h1>Parkour: Start new bout</h1>
    <form>
      <label for="course">Course:</label>
      <select name="course" id="course">
	<option/>
	{{range $key, $name := .courses}}
	<option value="{{$key}}">{{$name}}</option>
	{{end}}
      </select>

      <label for="lab">Lab:</label>
      <select name="lab" id="lab">
	<option/>
	{{range $key, $name := .labs}}
	<option value="{{$key}}">{{$name}}</option>
	{{end}}
      </select>

      <label for="with">Colaborant:</label>
      <input name="with" id="with"/>

      <input type="submit" value="Start"/>
      <script>
	$('input#with').autocomplete({source: "/suggestuser"});
      </script>
    </form>
  </body>
</html>
