h1, h2 {
    background: #eff;
    border: solid 1px rgba(0,0,0,0.2);
    margin: 1ex 0;
    padding: 1ex;
    text-align: center;
}

form.row {
    display: flex;
    font-size: 150%;
    justify-content: space-between;
}
button {
    flex-grow: 3;
    font-size: inherit;
    min-height: 3em;
}
button[name=driver] {
    flex-grow: 4;
}
form span {
    flex-grow: 1;
}
#currenttime.soon {
    background: #ff8;
}
#currenttime.late {
    background: #f88;
}
#currentlog {
    text-align: left;
}
div.help {
    margin-top: 2em;
    text-align: left;
}
h3:first-child {
    margin-top: 0;
}
